{% extends 'base_empresa.html' %}
{% block titulo %}
URUK - Início
{%endblock%}
{% block breadcrumbone %}
Busque por Currículos
{%endblock%}
{% block breadcrumbtwo %}
Currículos
{%endblock%}
{% block conteudo %}
<!-- Caso um erro seja lançado, imprime o texto do erro em negrito, tag <strong> -->
{% if msg %}<p><strong>{{ msg }}</strong></p>{% endif %}
<!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                {% for curriculo in lista %}
                  <!-- Row -->
                  <div class="row">
                      <!-- Column -->
                      <div class="col-lg-8 offset-lg-2 col-xlg-9 offset-xlg-2 col-md-7 offset-md-2">
                          <div class="card text-center">
                              <div class="card-block">
                                  <h1 class="text-info">{{ curriculo.id_candidato }}</h2>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label> <strong> Escolaridade: </strong>{{ curriculo.formacao_academica}} </label>
                                            <br/><a href="{{ url_for('detalhes_curriculo') }}?id={{curriculo.id}}">
                                                <button type="button" class="btn btn-info">Ver Detalhes</button>
                                            </a>
                                        </div>
                                    </div>
                              </div>
                          </div>
                      </div>
                      <!-- Column -->
                  </div>
                  <!-- Row -->
                {% endfor %}
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
{% endblock %}
