{% extends 'base_externa.html' %}
{% block titulo %}
URUK - Início
{%endblock%}
{% block breadcrumbone %}
Gerencie suas configurações
{%endblock%}
{% block breadcrumbotwo %}
Configurações
{%endblock%}
{% block conteudo %}
<!-- Caso um erro seja lançado, imprime o texto do erro em negrito, tag <strong> -->
{% if msg %}<p><strong>{{ msg }}</strong></p>{% endif %}
<!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-8 offset-lg-2 col-xlg-9 offset-xlg-2 col-md-7 offset-md-2">
                        <div class="card text-center">
                            <div class="card-block">
                                <h1 class="text-warning">Configurações</h2>
                                  <div class="form-group">
                                      <div class="col-md-12">
                                          <a href="{{ url_for('remover_conta') }}">
                                              <button type="button" class="btn btn-danger">Excluir Conta</button>
                                          </a>
                                      </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
{% endblock %}
